<!doctype html>
<title>Linguistic Complexity of Billboard Top 100 Songs</title>

<body>
    <h1>Welcome to the Billboard Linguistic Complexity Project</h1>

    <h2>This project examines the lingusitic complexity of songs that
        made the Billboard Top 100 over the decades.
    </h2>

    <h2>Here, we'll see if lyrical complexity played a role in pop music, and
        look at trends in lyrics throughout the decades
    </h2>

    <h2>If you'd like to see what made it to the top 100 over the years,
        please take a look <a href="hot100.html">here.</a> Otherwise,
        here is the <a href="report.html">report.</a>
    </h2>

    <form>
        <button type="submit" formaction="hot100.html" class="button">Hot 100</button>
    </form>

    <form>
        <button type="submit" formaction="report.html" class="button">Report</button>
    </form>
</body>