{% extends "base.html" %}
{% block title %}Hot 100 Over The Years - All {{ starting_char }}'s {% endblock %}
{% block content %}
    <table>
        <thead>
            <th>Artists</th>
            <th>Songs</th>
        </thead>
        {% for i in range(0, length) %}
            {% if lengths[i] == 1 %}
            <tbody>
                <tr>
                    <th>{{ artists[i] }}</th>
                    <td>{{ songs[i][0] }}</td>
                </tr>
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <th rowspan="{{ lengths[i] }}">{{ artists[i] }}</th>
                    <td>{{ songs[i][0] }}</td>
                </tr>
                {% for j in range(1, lengths[i]) %}
                    <tr>
                        <td>{{ songs[i][j] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% endif %} 
        {% endfor %}
    </table>
{% endblock content %}